/*Paula González Sánchez*/
@import url('https://fonts.googleapis.com/css2?family=Monserrat:wght@100&display=swap');
/*HEADER*/
header{
    background-color: #333;
    width: 100%;
    height: 10%;
    display: flex;
    margin-top: 0%;
    padding-top: 0%;
    justify-content: center;
    position: sticky;

    
}
header nav{
    justify-content: center;
}
header nav ul{
    text-align: center;
    justify-content: space-between;
}
header nav ul li{
    display: inline-block;
    padding: 1em;
    
}
a{
    text-decoration: none;
    color: #f4f4f9;
}

a:hover{
    color:  #a9065d;
}
/*BODY*/
body{
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #f4f4f9;
    color: #0b0a0a;
    text-align: center;
    justify-content: center;
}
.button-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80%;
    
}
.button-container a{
    display: inline;
}
.button{
    width: 80%;
    height: 80%;
    margin: 5%;
    border: 2px solid #4CAF50;
    border-radius: 15%;
    text-align: center;

}
.button:hover{
    background-color: #4CAF50;

}
.button span{
    text-decoration: none;
    color: #0b0a0a;
    margin: 5px;
}

.button span:hover{
    color:  #f4f4f9;
}
img{
    height: 50%;
    width: 50%;
    border-radius: 4px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  
}
.button span{
    display: flex;
    justify-content: center;

}
/*FOOTER*/
footer{
    background-color: #333;
    display: block;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    position: sticky;
}
footer p{
    color: #f4f4f9;
}